section.hight-rating
  .hight-rating__container
    h2.hight-rating__title Высокий рейтинг
    - var suggestions = [{title: 'кожаный “R-94”', price: '94 990', mark: '5,0'},{title: 'апартековый “T-75”', price: '69 990', mark: '4,9'},{title: 'тканевый “D-31”', price: '28 490', mark: '4,8'},{title: 'велюровый “Y-68”', price: '22 990', mark: '4,8'},{title: 'из шинила “W-95”', price: '22 990', mark: '4,8'},{title: 'флоковый “G-41”', price: '17 990', mark: '4,8'},{title: 'шиниловый “V-43”', price: '19 990', mark: '4,8'},{title: 'велюровый “S-99”', price: '19 990', mark: '4,7'}, {title: 'кожаный “R-94”', price: '94 990', mark: '5,0'},{title: 'апартековый “T-75”', price: '69 990', mark: '4,9'},{title: 'тканевый “D-31”', price: '28 490', mark: '4,8'}, {title: 'велюровый “Y-68”', price: '22 990', mark: '4,8'}]
    ul.hight-rating__list
      each suggestion, index in suggestions
        li.hight-rating__item
          article.hight-rating__item-container
            picture.hight-rating__item-picture
              img(class='lazy hight-rating__item-img', data-src=require(`@images/1920/high-rating-${index+1}-1920.png`), alt=`Диван ${suggestion.title}`)
            .hight-rating__item-content
              span.hight-rating__item-rating=suggestion.mark
              h3.hight-rating__item-title='Диван '+suggestion.title
              span.hight-rating__item-price=suggestion.price+' руб'
              button(class='hight-rating__item-button' aria-label=`Купить диван ${suggestion.title }`) Купить
    button.hight-rating__button Смотреть больше товаров
