section.hight-rating
  .hight-rating__container
    h2.hight-rating__title Высокий рейтинг
    -
      var suggestions = [
        {title: {type: 'кожаный', model: '“R-94”'}, price: '94 990', mark: '5,0'},
        {title: {type: 'апартековый', model: '“T-75”'}, price: '69 990', mark: '4,9'},
        {title: {type: 'тканевый', model: '“D-31”'}, price: '28 490', mark: '4,8'},
        {title: {type: 'велюровый', model: '“Y-68”'}, price: '22 990', mark: '4,8'},
        {title: {type: 'из&nbsp;шинила', model: '“W-95”'}, price: '22 990', mark: '4,8'},
        {title: {type: 'флоковый', model: '“G-41”'}, price: '17 990', mark: '4,8'},
        {title: {type: 'шиниловый', model: '“V-43”'}, price: '19 990', mark: '4,8'},
        {title: {type: 'велюровый', model: '“S-99”'}, price: '19 990', mark: '4,7'},
        {title: {type: 'кожаный', model: '“R-94”'}, price: '94 990', mark: '5,0'},
        {title: {type: 'апартековый', model: '“T-75”'}, price: '69 990', mark: '4,9'},
        {title: {type: 'тканевый', model: '“D-31”'}, price: '28 490', mark: '4,8'},
        {title: {type: 'велюровый', model: '“Y-68”'}, price: '22 990', mark: '4,8'}
        ]
    ul.hight-rating__list
      each suggestion, index in suggestions
        li.hight-rating__item
          article.rating-item
            picture.rating-item__picture
              img(class='lazy rating-item__picture-img', data-src=`./assets/images/1920/high-rating-${index+1}-1920.png`, alt=`Диван ${suggestion.title.type} ${suggestion.title.model}`)
            .rating-item__content
              span.rating-item__rating=suggestion.mark
              h3.rating-item__title
                span.rating-item__type!='Диван '+suggestion.title.type
                span.rating-item__model=suggestion.title.model
              span.rating-item__price=suggestion.price+' руб'
              button(class='rating-item__button' aria-label!=`Купить диван ${suggestion.title.type} ${suggestion.title.model}`) Купить
    button.hight-rating__button Смотреть больше товаров
