section.special-offers
  .special-offers__container
    h2.special-offers__title Специальные предложения
    .special-offers__buttons
      button.special-offers__button-prev
      button.special-offers__button-next
    .special-offers__swiper
      ul.special-offers__wrapper.swiper-wrapper
        -
          var cards = [
            {title: {type: 'Кресло велюровое', model: '“X-24”'}, discount: '9 000', currentPrice: '15 990', oldPrice: '24 990'},
            {title: {type: 'Диван тканевый', model: '“Z-44”'}, discount: '10 000', currentPrice: '22 990', oldPrice: '32 990'},
            {title: {type: 'Будильник', model: '“Quartz-23”'}, discount: '600', currentPrice: '1 290', oldPrice: '1 890'},
            {title: {type: 'Мини-скульптура', model: '“Oh my deer”'}, discount: '300', currentPrice: '690', oldPrice: '990'},
            {title: {type: 'Диван вел-флок', model: '“Z-85”'}, discount: '10 000', currentPrice: '22 900', oldPrice: '32 990'},
            {title: {type: 'Термометр + гидрометр', model: '“H-18”'}, discount: '700', currentPrice: '1 390', oldPrice: '2 090'}
            ]
        each card, index in cards
          li.special-offers__slide.swiper-slide
            if (index!==1 && index!==4)
              article.offer
                picture.offer__picture
                  source(media="(max-width: 1220px)", type='image/webp', data-srcset=`./assets/images/1024/special-offers-${index+1}-1024.webp`)
                  source(media="(max-width: 1220px)", type='image/png', data-srcset=`./assets/images/1024/special-offers-${index+1}-1024.png`)
                  source(type='image/webp', data-srcset=`./assets/images/1920/special-offers-${index+1}-1920.webp`)
                  img(class='lazy offer__picture-img', data-src=`./assets/images/1920/special-offers-${index+1}-1920.png`, alt=`${card.title.type} ${card.title.model}`)
                .offer__container
                  span.offer__discount='- '+card.discount
                  h3.offer__title=card.title.type+ ' ' + card.title.model
                  .offer__content
                    span.offer__price=card.currentPrice+' руб'
                    s.offer__price-old=card.oldPrice+' руб'
                  button(class='offer__button' aria-label=`Купить ${card.title.type} ${card.title.model}`) Купить
            if (index===1 || index===4)
              article(class=`offer offer--background-${index}`)
                picture(class='offer__picture')
                  source(media="(max-width: 1220px)", type='image/webp', data-srcset=`./assets/images/1024/special-offers-${index+1}-1024.webp`)
                  source(media="(max-width: 1220px)", type='image/png', data-srcset=`./assets/images/1024/special-offers-${index+1}-1024.png`)
                  source(type='image/webp', data-srcset=`./assets/images/1920/special-offers-${index+1}-1920.webp`)
                  img(class='lazy offer__picture-image', data-src=`./../assets/images/1920/special-offers-${index+1}-1920.png`, alt=`${card.title.type} ${card.title.model}`)
                .offer__container
                  span.offer__discount='- '+card.discount
                  h3.offer__title=card.title.type+ ' ' + card.title.model
                  .offer__content
                    span.offer__price=card.currentPrice+' руб'
                    s.offer__price-old=card.oldPrice+' руб'
                  button(class='offer__button' aria-label=`Купить ${card.title.type} ${card.title.model}`) Купить
